@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./slideshow.css");
/* @import url('./servicesPannel.css'); */
@import url('./services.css');

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Only necessary with horizontal scrolling */
html[data-scroll-orientation="horizontal"] {
  body {
      width: fit-content;
  }
  [data-scroll-container] {
      display: flex;
  }
}

/* Font Family */
@font-face {
  font-family: 'Body';
  src: url('/fonts/neuemontreal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Head';
  src: url('/fonts/avenir.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Head';
  src: url('/fonts/avenir-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Font Family End*/
body{
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: "Body", Arial, Helvetica, sans-serif;
  text-rendering: geometricPrecision;
  font-kerning: none;
  color: #1C1B1A;
}

[data-para-anim], [data-title-anim] {
  font-kerning: none;
}

.text-body{
  font-family: "Body";
}
.text-head{
  font-family: "Head";
}
.container-lg{
  padding-left: 5%;
  padding-right: 5%;
}
.title-2{
  font-family: "Head";
  font-size: 3.8vw;
  line-height: 1.2; 
}
p{
  font-size: 1.2vw;
  line-height: 1.6;
  letter-spacing: 0.05vw;
}

[data-title-anim],
[data-para-anim],
.para-anim,
.lineWord {
  font-kerning: none;
}
[data-title-anim] .line,
[data-para-anim] .line,
.para-anim .line,
.lineWord .line {
  overflow: hidden;
}

/* button css */
.btn{
  display: inline-flex;
  align-items: center;
  padding: 0 1.8vw;
  height: 4.2vw;
  position: relative;
  width: fit-content;
  min-width: 14vw;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.743);
  color: black;
  font-size: 1.2vw;
  font-weight: 500;
  text-rendering: geometricPrecision;
}
.btn .btn-circle{
  clip-path: inset(0.8vw 0.9vw 0.8vw calc(100% - 3.7vw) round 4vw);
  position: absolute;
  inset: -1px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  padding: 0 1.85vw;
  z-index: 2;
  background-color: black;
  color: white;
  transition: all .45s cubic-bezier(.785,.135,.15,.86);
}
.btn .btn-circle.demo{
  padding: 0 1.75vw;
}
.btn .btn-circle-text{
  padding: 0 1px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn .btn-icon{
  width: 0.8vw;
  height: 0.8vw;
  overflow: hidden;
}
.btn .btn-icon .btn-path{
  transition: transform .45s cubic-bezier(.785,.135,.15,.86);
  transform-origin: center center;
}
.btn .btn-icon .btn-path:first-child{
  transform: translateX(-120%) scale(0);
}
.btn:hover .btn-icon .btn-path:first-child{
  transform: translateX(0) scale(1);
}
.btn:hover .btn-icon .btn-path:last-child{
  transform: translateX(120%) scale(0);
}
.btn:hover .btn-circle{
  clip-path: inset(0 round 4vw);
  background-color: black;
  color: white;
}


/* black button */
.black-btn{
  display: inline-flex;
  align-items: center;
  padding: 0 1.8vw;
  height: 4.2vw;
  position: relative;
  width: fit-content;
  min-width: 14vw;
  border-radius: 1000px;
  background:black;
  color: white;
  font-size: 1.1vw;
  font-weight: 500;
  text-rendering: geometricPrecision;
  border: 1px solid #1C1B1A;
}
.black-btn .btn-circle{
  clip-path: inset(0.75vw 1vw 0.75vw calc(100% - 3.6vw) round 4vw);
  position: absolute;
  inset: 0px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  padding: 0 1.85vw;
  z-index: 2;
  background-color: white;
  color: #1C1B1A ;
  transition: all .45s cubic-bezier(.785,.135,.15,.86);
}
.black-btn .btn-circle.demo{
  padding: 0 1.75vw;
}
.black-btn .btn-circle-text{
  padding: 0 0px 0 0;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.black-btn .btn-icon{
  width: 0.8vw;
  height: 0.8vw;
  overflow: hidden;
}
.black-btn .btn-icon .btn-path{
  transition: transform .45s cubic-bezier(.785,.135,.15,.86);
  transform-origin: center center;
}
.black-btn .btn-icon .btn-path:first-child{
  transform: translateX(-120%) scale(0);
}
.black-btn:hover .btn-icon .btn-path:first-child{
  transform: translateX(0) scale(1);
}

.black-btn:hover .btn-icon .btn-path:last-child{
  transform: translateX(120%) scale(0);
}
.black-btn:hover .btn-circle{
  clip-path: inset(0 round 4vw);
  background-color: white;
  color: #1C1B1A;
}

/* work button css */
.work-btn .btn{
  display: inline-flex;
  align-items: center;
  padding: 0 1vw;
  height: 3vw;
  position: relative;
  width: fit-content;
  min-width: 10vw;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.743);
  color: black;
  font-size: 1vw;
  font-weight: 500;
  text-rendering: geometricPrecision;
}
.work-btn .btn .btn-circle{
  clip-path: inset(0.4vw 0.5vw 0.4vw calc(100% - 2.7vw) round 4vw);
  position: absolute;
  inset: -1px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  padding: 0 1.18vw;
  z-index: 2;
  background-color: black;
  color: white;
  transition: all .45s cubic-bezier(.785,.135,.15,.86);
}
.btn .btn-circle.demo{
  padding: 0 1.75vw;
}
.btn .btn-circle-text{
  padding: 0 1px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn .btn-icon{
  width: 0.8vw;
  height: 0.8vw;
  overflow: hidden;
}
.btn .btn-icon .btn-path{
  transition: transform .45s cubic-bezier(.785,.135,.15,.86);
  transform-origin: center center;
}
.btn .btn-icon .btn-path:first-child{
  transform: translateX(-120%) scale(0);
}
.btn:hover .btn-icon .btn-path:first-child{
  transform: translateX(0) scale(1);
}
.btn:hover .btn-icon .btn-path:last-child{
  transform: translateX(120%) scale(0);
}
.btn:hover .btn-circle{
  clip-path: inset(0 round 4vw);
  background-color: black;
  color: white;
}

/* service button */

.service-btn{
  display: inline-flex;
  align-items: center;
  padding: 0 1.8vw;
  height: 4.2vw;
  position: relative;
  width: fit-content;
  min-width: 17.2vw;
  border-radius: 1000px;
  background:black;
  color: white;
  font-size: 1.1vw;
  font-weight: 500;
  text-rendering: geometricPrecision;
  border: 1px  solid #1C1B1A;
}
.service-btn .btn-circle{
  clip-path: inset(0.75vw 1vw 0.75vw calc(100% - 3.6vw) round 4vw);
  position: absolute;
  inset: 0px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  padding: 0 1.85vw;
  z-index: 2;
  background-color: white;
  color: #1C1B1A ;
  transition: all .45s cubic-bezier(.785,.135,.15,.86);
}
.service-btn .btn-circle.demo{
  padding: 0 1.75vw;
}
.service-btn .btn-circle-text{
  padding: 0 0px 0 0;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.service-btn .btn-icon{
  width: 0.8vw;
  height: 0.8vw;
  overflow: hidden;
}
.service-btn .btn-icon .btn-path{
  transition: transform .45s cubic-bezier(.785,.135,.15,.86);
  transform-origin: center center;
}
.service-btn .btn-icon .btn-path:first-child{
  transform: translateX(-120%) scale(0);
}
.service-btn:hover .btn-icon .btn-path:first-child{
  transform: translateX(0) scale(1);
}

.service-btn:hover .btn-icon .btn-path:last-child{
  transform: translateX(120%) scale(0);
}
.service-btn:hover .btn-circle{
  clip-path: inset(0 round 4vw);
  background-color: white;
  color: #1C1B1A;
}
/* .service-btn:hover{
  border: 2px  solid #1C1B1A;
} */

.glassmorphism{
  backdrop-filter: blur(10px);
}

/* swiper css */
.swiper {
  width: 90vw;
  height: 33vw;
  padding-bottom: 2vw !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-scrollbar {
  background-color: rgba(0, 0, 0); /* Background of scrollbar */
  height: 10px; /* Height of scrollbar */
  border-radius: 10px;
   /* Rounded edges */
}

.swiper-scrollbar-drag {
  background-color: #3d3c3c !important; 
  border-radius: 30px; 
  height: 100%; 
}



/* ClipPath Hover Section */
.circle-clip{
  clip-path: circle(100.0% at 0 100%);
}/* sample slider */


@media screen and (max-width: 541px) {
  p{
    font-size: 4.2vw;
    line-height: 1.6;
    letter-spacing: 0.05vw;
  }
  .title-2{
    font-family: "Head";
    font-size: 8.8vw;
    line-height: 1.2; 
  }
  /* primary button */
  .btn {
    height: 15vw;
    padding: 0 4.5vw;
    min-width: 50vw;
    font-size: 4.2vw;
    font-weight: 400;
  }

  .btn[data-secondary] .btn-circle{
    padding: 0 4.5vw;
    clip-path: inset(14% 5% 15% calc(100% - 27%) round 10vw);
  }
  .btn[data-secondary]:hover .btn-circle{
    clip-path: inset(0 round 10vw);
  }
  .btn .btn-circle.demo{
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 26%) round 10vw);
  }
  .btn .btn-circle {
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 26%) round 10vw);
  }
  .btn .btn-icon{
    width: 3.5vw;
    height: 3.5vw;
  }
  .btn .btn-circle-text{
    padding: 0 3.5% 0 0;
  }
  .btn:hover .btn-circle{
    clip-path: inset(0 round 10vw);
  }
  
  /* service button */
  .service-btn {
    height: 15vw;
    padding: 0 4.5vw;
    min-width: 60vw;
    font-size: 4.2vw;
    font-weight: 400;
  }

  .service-btn[data-secondary] .btn-circle{
    padding: 0 4.5vw;
    clip-path: inset(14% 5% 15% calc(100% - 27%) round 10vw);
  }
  .service-btn[data-secondary]:hover .btn-circle{
    clip-path: inset(0 round 10vw);
  }
  .service-btn .btn-circle.demo{
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 26%) round 10vw);
  }
  .service-btn .btn-circle {
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 22%) round 10vw);
  }
  .service-btn .btn-icon{
    width: 3.5vw;
    height: 3.5vw;
  }
  .service-btn .btn-circle-text{
    padding: 0 3.5% 0 0;
  }
  .service-btn:hover .btn-circle{
    clip-path: inset(0 round 10vw);
  }
  /* black button */

  .black-btn {
    height: 15vw;
    padding: 0 4.5vw;
    min-width: 50vw;
    font-size: 4.2vw;
    font-weight: 400;
  }

  .black-btn[data-secondary] .btn-circle{
    padding: 0 4.5vw;
    clip-path: inset(14% 5% 15% calc(100% - 27%) round 10vw);
  }
  .black-btn[data-secondary]:hover .btn-circle{
    clip-path: inset(0 round 10vw);
  }
  .black-btn .btn-circle.demo{
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 26%) round 10vw);
  }
  .black-btn .btn-circle {
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 25%) round 10vw);
  }
  .black-btn .btn-icon{
    width: 3.5vw;
    height: 3.5vw;
  }
  .black-btn .btn-circle-text{
    padding: 0 3.5% 0 0;
  }
  .black-btn:hover .btn-circle{
    clip-path: inset(0 round 10vw);
  }

  /* work button */
  .work-btn .btn {
    height: 10vw;
    padding: 0 4.5vw;
    min-width: 35vw;
    font-size: 3.2vw;
    font-weight: 400;
  }

  .work-btn[data-secondary] .btn-circle{
    padding: 0 4.5vw;
    clip-path: inset(14% 5% 15% calc(100% - 27%) round 10vw);
  }
  .work-btn[data-secondary]:hover .btn-circle{
    clip-path: inset(0 round 10vw);
  }
  .work-btn .btn-circle.demo{
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 26%) round 10vw);
  }
  .work-btn .btn .btn-circle {
    padding: 0 2.8vw;
    clip-path: inset(18% 6% 18% calc(100% - 24%) round 10vw);
  }
  .work-btn .btn-icon{
    width: 3.5vw;
    height: 3.5vw;
  }
  .work-btn .btn-circle-text{
    padding: 0 3.5% 0 0;
  }
  .work-btn:hover .btn-circle{
    clip-path: inset(0 round 10vw);
  }
  

  .swiper {
    width: 100vw;
    height: 80vw;
    padding-bottom: 5vw !important;
  }


  
}
